.dashBoardLink{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    border-radius: 5px;
    padding: 18px 30px;
    font-weight: bold;
    background-color: #5570f1;
    margin-bottom: 20px;
}
.linkCarrier{
    display: flex;
    flex-direction: column;
}

.aside{
    padding: 35px 9px ;
    /* max-width: 150px; */
     background-color: #ffffff; 
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    gap: 900px;
    box-shadow: 3px 3px 4px rgb(235, 231, 231);

    /* height: 120vh; */
}
.menu{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    padding-left: 35px;
    background-color:#fff;
    z-index: 30px;

}
.menu div{
    width: 30px;
    background-color: black;
    height: 5px;
    
}
.subLinkCarrier{
    display: flex;
    align-items: center;
    gap: 10px;
}
/* .subLinkCarrier img{
    width: 30px;
    object-fit: cover;
} */
.subLinkCarrier a {
    text-decoration: none;
    color: #53545c;
    font-weight: bold;
    font-family: 'inter';
}
.subLinkCarrier h2{
    color: #45464e;
    font-weight: bold;
}

.sideWrap{
    position: relative;
    
}
.aside{
    position: absolute;
    top: 21px;
transition: 0.3s;
    display:flex;
    flex-direction:column;
    gap:80px;
}

@media (max-width:400px) {
    .aside{
        padding: 14px;
    }
}
.contactSupport{
    padding: 10px 30px ;
    background-color: #f1f3f9;
    color: black;
    border: 3px;
}


.subLinkWrap{
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.freeGift{
    background-color: #ffcc91;
    font-weight: bolder;
    padding: 20px 7px;
    border-radius: 7px;
}

.logout{
    color: red;
}